<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DCA 2</title>
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet">
  </head>
  <body>
		<header>
			<div class="mid">
				<a href="http://www.digitalcashacademy.com/">
					<img class="logo" src="/static/img/logo-header-digital-cash-academy.png" alt="">
				</a>
				<div
>					<a href="" target="_blank"><img src="/static/img/ico-fb.png" alt=""></a>
					<a href="" target="_blank"><img src="/static/img/ico-tw.png" alt=""></a>
					<a href="" target="_blank"><img src="/static/img/ico-yt.png" alt=""></a>
					<a href="" target="_blank"><img src="/static/img/ico-in.png" alt=""></a>
				</div>
			</div>
		</header>
		<section class="hero"></section>
		<main>
			<section class="resec">
				<h2>THE RESULTS ARE IN...</h2>

                {% if response.p_m == 0 %}
    				<div class="res">
    					<img src="/static/img/res-ico-correct.png" alt="">
    					<div>
    						<h4>Price Markup:</h4>
    						<p>GREAT! The markup is high enough.</p>
    					</div>
    				</div>
                {% elif response.p_m == 1 %}
    				<div class="res">
    					<img src="/static/img/res-ico-maybe.png" alt="">
    					<div>
    						<h4>Price Markup:</h4>
    						<p>HMM? The markup might not be high enough. Think twice before you go for it.</p>
    					</div>
    				</div>
                {% else %}
    				<div class="res">
    					<img src="/static/img/res-ico-stop.png" alt="">
    					<div>
    						<h4>Price Markup:</h4>
    						<p>NOT RECOMMENDED! With this markup, we believe it&rsquo;s going to be hard to turn a profit. You might want to stay away from this product.</p>
    					</div>
    				</div>
                {% endif %}

				<hr>

                {% if response.f_s == 0 %}
    				<div class="res">
    					<img src="/static/img/res-ico-correct.png" alt="">
    					<div>
    						<h4>Fulfillment Safety:</h4>
    						<p>GREAT! It&rsquo;s all looking good. Fulfillment shouldn&rsquo;t be a problem.</p>
    					</div>
    				</div>
                {% elif response.f_s == 1 %}
    				<div class="res">
    					<img src="/static/img/res-ico-maybe.png" alt="">
    					<div>
    						<h4>Fulfillment Safety:</h4>
    						<p>MEH? Fulfillment might be a problem. We recommend you manually review the feedback and status of the store and then decide.</p>
    					</div>
    				</div>
                {% else %}
    				<div class="res">
    					<img src="/static/img/res-ico-stop.png" alt="">
    					<div>
    						<h4>Fulfillment Safety:</h4>
    						<p>NOT RECOMMENDED! It doesn&rsquo;t look great. You might potentially have fulfillment headaches. Maybe you should stay away from this product.</p>
    					</div>
    				</div>
                {% endif %}

				<hr>

                {% if response.Shipping == 0 %}
    				<div class="res">
    					<img src="/static/img/res-ico-correct.png" alt="">
    					<div>
    						<h4>Shipping:</h4>
    						<p>GREAT! You&rsquo;re good with shipping!</p>
    					</div>
    				</div>
                {% elif response.Shipping == 1 %}
    				<div class="res">
    					<img src="/static/img/res-ico-maybe.png" alt="">
    					<div>
    						<h4>Shipping:</h4>
    						<p>THIS WORKS? You&rsquo;re good with shipping!</p>
    					</div>
    				</div>
                {% else %}
    				<div class="res">
    					<img src="/static/img/res-ico-stop.png" alt="">
    					<div>
    						<h4>Shipping:</h4>
    						<p>NOT RECOMMENDED! It doesn&rsquo;t look like they offer either free shipping or ePacket. From our experience, other shipping methods might be troublesome and expensive, but you can check manually to see what&rsquo;s happening.</p>
    					</div>
    				</div>
                {% endif %}

				<hr>

                {% if response.CLV == 0 %}
    				<div class="res">
    					<img src="/static/img/res-ico-correct.png" alt="">
    					<div>
    						<h4>CVL:</h4>
    						<p>GREAT! It seems like if someone buys this product, they&rsquo;re likely to buy other similar products. That&rsquo;s good as it allows you to have a higher Customer Lifetime Value.</p>
    					</div>
    				</div>
                {% elif response.CLV == 1 %}
    				<div class="res">
    					<img src="/static/img/res-ico-maybe.png" alt="">
    					<div>
    						<h4>CVL:</h4>
    						<p>MEH? If it&rsquo;s hard to find other similar products that your audience would buy, then you might want to think twice. You want to be able to upsell, downsell and bundle to your audience.</p>
    					</div>
    				</div>
                {% else %}
    				<div class="res">
    					<img src="/static/img/res-ico-stop.png" alt="">
    					<div>
    						<h4>CVL:</h4>
    						<p>NOT RECOMMENDED! If you can&rsquo;t see this product being used as an upsell or in a bundle, then you might want to stay away. Typically, it&rsquo;s easy to give other similar products to your niche. So you shouldn&rsquo;t go with products that don&rsquo;t lend themselves to upsells, bundling, etc...</p>
    					</div>
    				</div>
                {% endif %}
				<hr>

                {% if response.Trends == 0 %}
    				<div class="res">
    					<img src="/static/img/res-ico-correct.png" alt="">
    					<div>
    						<h4>Trends:</h4>
    						<p>GREAT! It?s trending, it&rsquo;s especially popular during a major sales season, so it&rsquo;s all looking good!</p>
    					</div>
    				</div>
                {% elif response.Trends == 1 %}
    				<div class="res">
    					<img src="/static/img/res-ico-maybe.png" alt="">
    					<div>
    						<h4>Trends:</h4>
    						<p>NOT BAD! Not perfect, but also not bad. Think about it one more time and you feel that it&rsquo;s popular, go for it!</p>
    					</div>
    				</div>
                {% else %}
    				<div class="res">
    					<img src="/static/img/res-ico-stop.png" alt="">
    					<div>
    						<h4>Trends:</h4>
    						<p>NOT RECOMMENDED! Doesn&rsquo;t look like it&rsquo;s very popular? Maybe you should stay away.</p>
    					</div>
    				</div>
                {% endif %}

				<hr>

			</section>
			<section class="final">
				<h2>FINAL VERDICT</h2>
				<div class="mid">
					<div class="final-txt">
                        {% if answers == 3 %}
						  <p>Looks like you got a potential winner on your hands! Definitely recommended for testing!</p>
                        {% elif answers == 2 %}
                            <p>Too many things going wrong. I would stay away from this product.</p>
                        {% elif answers == 1 %}
                            <p>It&rsquo;s got some pros and cons. It might not be perfect, but it might work! You should put it on your list for testing, but not as a top priority product.</p>
					   {% endif %}
                    </div>
					<div class="final-img">
                        {% if answers == 3 %}
                            <img src="/static/img/res-ico-good.png" alt="">
                        {% elif answers == 2 %}
                            <img src="/static/img/res-ico-bad.png" alt="">
                        {% elif answers == 1 %}
                            <img src="/static/img/res-ico-mid.png" alt="">     
                        {% endif %}
					</div>
				</div>
			</section>
		</main>
		<footer>
			<div class="mid">
				<a href="http://www.digitalcashacademy.com/"><img class="logo" src="/static/img/logo-footer-digital-cash-academy.png"tt alt=""></a>
				<p>©2017 All Right Reserved</p>
			</div>
		</footer>
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/app.js"></script>
  </body>
</html>







