<div>
	<a href="/home_aliexpress/">Search again</a>
</div>
<div>
	<table border="1px solid">
		<tr>
			<td> Price </td>
			<td> {{ response.original_price }} </td>
		</tr>

		<tr>
			<td> Product Rating </td>
			<td> {{ response.rating }} </td>
		</tr>

		<tr>
			<td> Store Rating </td>
			<td> {{ response.store_points }} </td>
		</tr>

		<tr>
			<td> Free Shipping </td>
			<td> {{ response.free_shipping }} </td>
		</tr>

		<tr>
			<td> ePacket Shipping </td>
			<td> {{ response.shipping_e }} </td>
		</tr>	

		<tr>
			<td> Positive reviews </td>
			<td> {{ response.reviews }} </td>
		</tr>

		<tr>
			<td> Years In Business </td>
			<td> {{ response.shop_time }} </td>
		</tr>

	</table>
</div>