<!DOCTYPE html>
<html>
	<head>
        <link rel="stylesheet" type="text/css" href="/static/css/main.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="/static/js/main.js"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                $("#loading-div-background").css({ opacity: 0.0 });

                var err = "{{ error }}";
                if (err) {
                    alert(err);
                }
                $('#form_submit').click()
            });

            function ShowProgressAnimation() {
                $("#loading-div-background").show();
            }
        </script>
	</head>
	<body>
		<form action="/search_aliexpress/" method="POST">
			{% csrf_token %}
			<input type="text" name="url" placeholder="Url:"> <br />
			<input type="text" name="price" placeholder="Your price:"> <br />
			Lends itself to return customers? <input type="checkbox" name="r"> <br />
			Lends itself to related products? <input type="checkbox" name="r_p"> <br />
			Lends itself to bundling? <input type="checkbox" name="b"> <br />
			Difficult to buy locally? Novelty? <input type="checkbox" name="d_t_b"> <br />
			Seasonal business? <input type="checkbox" name="s_b"> <br />
			Google Trends Rising or Idling? <input type="checkbox" name="g"> <br />
			Small in size? <input type="checkbox" name="s"> <br />
			<input type="submit" value="Submit" onclick="ShowProgressAnimation();"> <br />
		</form>
        <div id="loading-div-background">
          <div id="loading-div" class="ui-corner-all">
            <img style="height:32px;width:32px;margin:30px;" src="/images/please_wait.gif" alt="Loading.."/><br>PROCESSING. PLEASE WAIT...
          </div>
        </div>
	</body>
</html>
