<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DCA 2</title>
    <link rel="icon" href="/static/images/favicon.png" type="image/png" sizes="32x32">
    <link rel="stylesheet" type="text/css" href="/static/css/main2.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet">
  </head>
  <body>
		<header>
			<div class="mid">
				<a href="http://www.digitalcashacademy.com/">
					<img class="logo" src="/static/images/logo-header-digital-cash-academy.png" alt="">
				</a>
				<div>
					<a href="" target="_blank"><img src="/static/images/ico-fb.png" alt=""></a>
					<a href="" target="_blank"><img src="/static/images/ico-tw.png" alt=""></a>
					<a href="" target="_blank"><img src="/static/images/ico-yt.png" alt=""></a>
					<a href="" target="_blank"><img src="/static/images/ico-in.png" alt=""></a>
				</div>
			</div>
		</header>
		<section class="hero"></section>
		<main class="mid">
		<section>
			<form action="">
				<input type="text" placeholder="Enter The AliExpress.com Product URL">
				<input type="text" placeholder="Enter The Price You Want To Sell This Product For">
				<ul>
					<li>Does the product lend itself to return customers?</li>
					<li>Does it lend itself to related products?</li>
					<li>Does it lend itself to bundling?</li>
					<li>Is it a novelty? Difficult to buy locally?</li>
					<li>Can you sell it as a seasonal product?</li>
					<li>Are the trends rising or idling for this niche on <a href="https://trends.google.com/trends/" target="_blank">Google Trends?</a></li>
				</ul>
				<input type="submit" value="INSTANT CHECK">
			</form>
		</section>
		</main>
		<footer>
			<div class="mid">
				<a href="http://www.digitalcashacademy.com/"><img class="logo" src="/static/images/logo-footer-digital-cash-academy.png"tt alt=""></a>
				<p>©2017 All Right Reserved</p>
			</div>
		</footer>
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/app.js"></script>
  </body>
</html>







